<h1>Update your Medicine Prescription </h1>
<hr/>
<%= form_with url:"/medicines/#{@medicine.id}", method: :patch do |form|%>
<div>
<%=form.label :name, nil, :style => "color: black; font-weight:bold;"%><br/>
<%=form.text_field :name, value: @medicine.name%>
</div>
<div>
<%=form.label :dosage, nil, :style => "color: black; font-weight:bold;"%><br/>
<%=form.number_field :dosage, value: "#{@medicine.dosage}"%>
</div>
<div>
<%=form.label :frequency, nil, :style => "color: black; font-weight:bold;"%><br/>
<%=form.number_field :frequency, placeholder: "#{@medicine.frequency}", value: "#{@medicine.frequency}"%>
</div><br/>
<%=form.submit "Save", class: "btn btn-primary"%>&nbsp;<%= link_to "Discard", :back%>
<%end%>

