<h1>Account Page</h1><hr/>
<h3>Hi There <%=current_user.firstname%>!</h3>
<p>Welcome to your accounts page. Here you can edit and modify your prescriptions to your liking.</p>


<!--Add new-->
<%=link_to "Add New", medicines_new_path, class: "btn btn-success"%><br />

<br />
<% @medicines.each do |med|%>
<tr id ="record_<%med.id%>">
<div class = "container-item">
<div class = "container-background" style ="background-image: url('/img2.png'); background-size: 7em 10em; background-repeat: no-repeat; background-position: right bottom; padding-top: 1.6em;">
 
<li><%= med.name%></li>
<li><%= med.dosage%></li>
<li><%= med.frequency%></li>
<li><%= med.id%></li>

<!--update button not working-->
<%= link_to "Edit","/medicines/#{med.id}/edit", method: :get, :action => 'edit', data: { "turbo-method": :edit }%>
<!-- Delete function working-->
<%= link_to 'Delete',"/medicines/#{med.id}", method: :delete, :action => 'destroy', data: { "turbo-method": :delete }%>
<%# <%= button_to "delete", {:controller => :medicines, :action => 'destroy', :id => med.id }, :method => :delete %> 
</p>
</tr>
<hr/>
</div>
</div>
<%end%>


<!--id-->




