<h1>Account Page</h1>
<h2>Hi There <%=current_user.firstname%>!</h2>
<p>Welcome to your accounts page. Here you can edit and modify your prescriptions to your liking.</p>
<hr/>

<!--Add new-->
<%=link_to "Add New", medicines_new_path, class: "btn btn-primary"%><br />

<br />
<% @medicines.each do |med|%>
<tr id ="record_<%med.id%>">
<li><%= med.name%></li>
<li><%= med.dosage%></li>
<li><%= med.frequency%></li>
<li><%= med.id%></li>

<!--update button not working-->
<%= link_to "Update","/medicines/#{med.id}", method: :patch, :action => 'update', data: { "turbo-method": :update }%>
<!-- Delete function working-->
<%= link_to 'Delete',"/medicines/#{med.id}", method: :delete, :action => 'destroy', data: { "turbo-method": :delete }%>
<%# <%= button_to "delete", {:controller => :medicines, :action => 'destroy', :id => med.id }, :method => :delete %> 
</p>
</tr>
<hr/>
<%end%>


<!--id-->




