<h1>Account Page</h1><hr/>
<h3>Hi There <%=current_user.firstname%>!</h3>
<p>Welcome to your accounts page. Here you can edit and modify your prescriptions to your liking.</p>


<!--Add new-->
<%=link_to "Add New", medicines_new_path, class: "btn btn-success"%><br />

<br />
<% @medicines.each do |med|%>
<tr id ="record_<%med.id%>">

<div class = "container-background" style ="background-color: green; background-image: url('/img2.png'); background-size: 8em 14em; background-repeat: no-repeat; background-position: left bottom; padding-top: 2em;">

<div class = "items" style= "padding-left: 1.7em; background-color: purple; padding-top: 50px;">
<div class = "container-item" style= "background-color: red;">
<ol style="list-style-type: none;">
<li>Name: <%= med.name%></li>
<li>Dose: <%= med.dosage%></li>
<li>Freq: <%= med.frequency%></li>
<li>Id: <%= med.id%></p>
</li>
</ol>
</div>


<%= link_to "Edit","/medicines/#{med.id}/edit", method: :get, :action => 'edit', data: { "turbo-method": :edit }%>
<%= link_to 'Delete',"/medicines/#{med.id}", method: :delete, :action => 'destroy', data: { "turbo-method": :delete }%>
<%# <%= button_to "delete", {:controller => :medicines, :action => 'destroy', :id => med.id }, :method => :delete %> 
</tr>
</div>
<hr/>

</div>

<%end%>


<!--id-->




