<h1>Account Page</h1>
<h2>Hi There <%=current_user.firstname%>!</h2>
<p>Welcome to your accounts page. Here you can edit and modify your prescriptions to your liking.</p>
<hr/>
<% @medicine.each do |med|%>
<li><%= med.name%></li>
<li><%= med.dosage%></li>
<li><%= med.frequency%></li>
<li><%= med.id%></li>
<!-- Delete function not working yet-->
<%= link_to 'Delete',{ controller: 'medicines', action: 'destroy', id: med.id}, method: :delete%>
<hr/>
<%end%>
