<h1>Create your medicine prescription </h1>
<%= form_with url:"/medicines/new", method: :post do |form|%>
<div>
<%=form.label :name%>
<%=form.text_field :name%>
</div>
<div>
<%=form.label :dosage%>
<%=form.number_field :dosage%>
</div>
<div>
<%=form.label :frequency%>
<%=form.number_field :frequency%>
</div>
<%=form.submit "Submit"%>
<%end%>